* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#GridEstructura {
  display: grid;
  grid-template-areas: "cabeza cabeza" "menu cuerpo" "pie pie";
  grid-template-columns: 17% auto;
  grid-template-rows: 130px auto 240px;
}

.menuflex {
  display: flex;
  flex-flow: column nowrap;
}

header {
  border-bottom: 1px solid black;
  grid-area: cabeza;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(22, 77, 109), rgb(60, 207, 188));
  font-size: 1.8rem;
  padding: 10px;
}
header .logo {
  width: 80px;
  height: 80px;
  margin-left: 0px;
}
header .logo2 {
  width: 70px;
  height: 70px;
  margin-left: 0px;
}
header a {
  margin-left: 50px;
}

nav {
  border-right: 1px solid black;
  grid-area: menu;
  grid-row-gap: 20px;
  background-color: rgb(60, 207, 188);
  background-image: linear-gradient(rgb(60, 207, 188), rgba(125, 134, 138, 0.966));
}
nav .animation {
  animation-name: menuAnimation;
  animation-duration: 1.5s;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px 25px;
  background-color: rgb(22, 77, 109);
  border-radius: 0 1em 1em 0;
}
nav a:hover {
  opacity: 0.5;
  border-left: solid 5px white;
}
nav a span {
  font-family: serif;
  font-size: 1.1rem;
}

main {
  grid-area: cuerpo;
  padding: 20px;
}
main article {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(60, 207, 188);
}
main article p {
  margin: 5px;
}
main article img {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
}
main article h2 {
  margin: 15px;
  text-shadow: 1px 1px 1px rgba(125, 134, 138, 0.966), 2px 2px 1px rgba(125, 134, 138, 0.966);
}
main article h2 a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
}
main article h3 {
  margin: 5px;
}
main .pqs {
  margin: 15px 20px;
}
main .titulosAlternos {
  margin: 15px 20px;
  font-size: 1.9rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(125, 134, 138, 0.966), 2px 2px 1px rgba(125, 134, 138, 0.966);
}
main form {
  margin: 15px 20px;
}
main .productos1 h3 {
  text-align: center;
}
main .productos1 {
  justify-content: center;
}
main .seccionesproductos {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-bottom: 40px;
  border: 3px solid rgb(60, 207, 188);
  border-radius: 25%;
  background-color: rgb(22, 77, 109);
}
main .seccionesproductos a {
  text-decoration: none;
  color: white;
  margin: 20px;
  background-color: rgba(125, 134, 138, 0.966);
  border: 3px solid rgb(60, 207, 188);
  padding: 5px;
  width: 200px;
  text-align: center;
  border-radius: 30%;
}
main .seccionesproductos a:hover {
  opacity: 0.5;
  border-left: solid 10px white;
}
main .seccionesproductos .spanproductos {
  padding: 5px;
}

.titulosProductos {
  font-size: 1.9rem;
  margin: 15px 20px 40px 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(125, 134, 138, 0.966), 2px 2px 1px rgba(125, 134, 138, 0.966);
}

.contactomain {
  display: flex;
}
.contactomain .contacto1 {
  font-size: 1.2rem;
}
.contactomain .contacto1 .inputEmail {
  margin-left: 20px;
}
.contactomain .contacto1 .botonenviar {
  margin: 10px 0px;
  width: 70px;
  height: 30px;
  background-color: rgb(22, 77, 109);
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
.contactomain .contacto2 {
  margin: 0 0 0 20px;
  font-size: 1.6rem;
}

footer {
  border-top: 1px solid black;
  grid-area: pie;
  background-color: rgb(22, 77, 109);
  background-image: linear-gradient(to right, rgb(22, 77, 109), rgb(60, 207, 188));
  display: flex;
  padding: 10px;
  font-size: 1.2rem;
}
footer .copy {
  font-size: 0.8rem;
}
footer iframe {
  width: 25%;
  height: 220px;
}
footer span {
  width: 20%;
}
footer a {
  text-decoration: none;
  color: black;
  margin: 10px;
}
footer .divf1 {
  display: flex;
  flex-flow: row wrap;
  width: 55%;
  align-content: space-between;
}
footer div .divf4 {
  margin: 0px 40px;
  border-bottom: 1px solid rgb(234, 236, 239);
}
footer div .divf3 {
  font-size: 1rem;
  margin: 5px 40px;
}

@keyframes menuAnimation {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.band1 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band2 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band3 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band4 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band5 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band6 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band7 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.band8 {
  border: 2px solid rgba(125, 134, 138, 0.966);
  border-radius: 5%;
  margin: 8px 8px 32px 8px;
  width: 250px;
  height: 250px;
}

.productos1 {
  display: flex;
  flex-wrap: wrap;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  #GridEstructura {
    grid-template-columns: 20% auto;
  }
  #GridEstructura .contactomain .contacto2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 992px) {
  #GridEstructura {
    grid-template-columns: 24% auto;
  }
  #GridEstructura .contactomain .contacto2 {
    font-size: 1rem;
  }
  #GridEstructura .seccionesproductos {
    font-size: 1.6rem;
  }
  #GridEstructura .seccionesproductos a {
    width: 135px;
  }
}
@media (max-width: 768px) {
  #GridEstructura {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "cabeza" "menu" "cuerpo" "pie";
  }
  #GridEstructura nav {
    border-right: none;
    border-bottom: 1px solid black;
    grid-row-gap: 0px;
    text-align: center;
  }
  #GridEstructura nav .animation {
    animation-name: menuAnimation;
    animation-duration: 1s;
  }
  #GridEstructura nav span {
    font-size: 1.3rem;
  }
  #GridEstructura .divf1 {
    width: 45%;
  }
  #GridEstructura iframe {
    width: 40%;
    height: 200px;
  }
  #GridEstructura .divf31 {
    display: none;
  }
  #GridEstructura .divf32 {
    font-size: 0.8rem;
    margin: 5px 20px;
  }
  #GridEstructura .divf4 {
    margin: 5px 20px;
    border-bottom: 1px solid rgb(234, 236, 239);
  }
  #GridEstructura a {
    font-size: 1rem;
  }
  #GridEstructura h2 a {
    font-size: 2rem;
  }
  #GridEstructura header {
    font-size: 1.7rem;
  }
  #GridEstructura header a {
    margin: 15px;
  }
  #GridEstructura .contactomain {
    display: flex;
    flex-flow: row wrap;
  }
  #GridEstructura .contactomain .contacto1 {
    font-size: 1.2rem;
  }
  #GridEstructura .contactomain .contacto2 {
    margin: 50px 15px 20px;
    font-size: 1.5rem;
  }
  #GridEstructura .titulosProductos {
    font-size: 3rem;
    margin: 0px 0px 20px 0px;
  }
  #GridEstructura .seccionesproductos a {
    font-size: 1rem;
  }
}
@media (max-width: 440px) {
  #GridEstructura h1 {
    font-size: 2.5rem;
  }
}
/************* BUCLES ************/
.logo-1 {
  width: 200px;
  height: 200px;
}

.logo-2 {
  width: 100px;
  height: 100px;
}

/***************
EACH Y MAPS
****************/
.fondo-header {
  background-image: url(img/header.jpg);
}

.fondo-main {
  background-image: url(img/main.jpg);
}

.fondo-footer {
  background-image: url(img/footer.jpg);
}

.boton-Instagram {
  background-color: violet;
}

.boton-Facebook {
  background-color: blue;
}

.boton-Youtube {
  background-color: red;
}

/*# sourceMappingURL=estilos.css.map */
