@import "colors";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
@mixin medidas ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
@mixin medidaslogos ($ancho, $alto, $ml) {
    width: $ancho;
    height: $alto;
    margin-left: $ml;
}
#GridEstructura{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "menu cuerpo"
    "pie pie";
    grid-template-columns: 17% auto;
    grid-template-rows: 130px auto 240px;
}
.menuflex{
    display: flex;
    flex-flow: column nowrap;
}
header{
    grid-area: cabeza;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, $fondo1, $fondo2);
    font-size: 1.8rem;
    padding: 10px;
    .logo{
        @include medidaslogos(80px, 80px, 0px)
    }
    .logo2{
        @include medidaslogos(70px, 70px, 0px)
    }
    a{
        margin-left: 50px;
    }
}
nav{
    grid-area: menu;
    grid-row-gap: 20px;
    background-color: $fondo2;
    background-image: linear-gradient($fondo2, $fondo3);
    .animation{
        animation-name: menuAnimation;
        animation-duration: 1.5s;
    }
    a{
        text-decoration: none;
        color:white;
        margin: 10px;
        padding: 10px 25px;
        background-color:$fondo1;
        &:hover{
            opacity: 0.5;
            border-left: solid 5px white;
        }
        span{
            font-family: serif;
            font-size: 1.1rem;
        }
    } 
}
main{
    grid-area: cuerpo;
    padding: 20px;
    article{
        margin-bottom: 20px;
        img{
            @include medidas(200px, 200px);
        }
    }
}
.contactomain{
    display: flex;
    .contacto1{
        font-size: 1.2rem;
    }
    .contacto2{
        margin: 0 15px;
        font-size: 1.6rem;
    }
}
footer{
    grid-area: pie;
    background-color: $fondo1;
    background-image: linear-gradient(to right, $fondo1, $fondo2);
    display: flex;
    padding: 10px;
    font-size: 1.2rem;    
    iframe{
        @include medidas(25%, 220px)
    }
    span{
        width: 20%;
    }
    a{
        text-decoration: none;
        color: black;
        margin: 10px;
    }
    .divf1{
    display: flex;
    flex-flow: row wrap;
    width: 55%;
    align-content: space-between;
    }
    div .divf4{
        margin: 0px 40px;
        border-bottom: 1px solid rgb(234, 236, 239);
    }
    div .divf3{
        font-size: 1rem;
        margin: 5px 40px;
    }
}
@keyframes menuAnimation{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
/* MEDIA QUERIES */

@media (max-width:1200px){
    #GridEstructura{
        grid-template-columns: 20% auto;
        .contactomain{
            .contacto2{
                font-size: 1.4rem;
            }
        }
    }
}
@media (max-width:992px){
    #GridEstructura{
        grid-template-columns: 24% auto;
        .contactomain{
            .contacto2{
            font-size: 1rem;
            }
        }
    }
}
@media (max-width:768px){
    #GridEstructura{
        .divf1{
            width: 45%;
        }
        div{
            font-size: 0.8rem;
        }
        iframe{
            @include medidas(40%, 200px)
        }
        .divf31{
            display: none;
        }
        .divf32{
            font-size: 0.8rem;
            margin: 5px 20px;
        }
        .divf4{
            margin: 5px 20px;
            border-bottom: 1px solid rgb(234, 236, 239);
        }
        a{
            font-size: 1rem;
        }
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "cabeza"
        "menu"
        "cuerpo"
        "pie";
        header{
            font-size: 1.7rem;
            .logo{
                width: 70px;
                margin: 0px 15px;
            }
            .logo2{
                width: 60px;
                margin: 0px 15px;
            }
            a{
                margin-left: 0px;
            }
        }
        .contactomain{
            display: flex;
            flex-flow: row wrap;
            .contacto1{
                font-size: 1.2rem;
            }
            .contacto2{
            margin: 50px 15px 20px;
            font-size: 1.5rem;
            }
        }
    }
}
/************* BUCLES ************/
@for $bucle from 1 through 2 {
    .logo-#{$bucle}{
        width: calc(200px/$bucle);
        height: calc(200px/$bucle);
    }
}
/***************
EACH Y MAPS
****************/
@each $secciones in header,main,footer {
    .fondo-#{$secciones}{
        background-image: url(img/#{$secciones}.jpg);
    }
}
$mapa:  (Instagram:violet,
         Facebook: blue,
         Youtube: red );
@each $redes, $color in $mapa {
    .boton-#{$redes}{
        background-color: $color;
    }
}

